.carousel{
    margin-top:8rem;
    
}

#img{
    min-height:250px;
    min-width:200px;
    border-radius-bottom-right:1rem;
    transform: rotate(10deg);
    margin-left:10px;
}
.style{
    height:25rem;
}
@media only screen and (min-width: 600px and max-width:720px) {
    .carousel {
      min-height:26rem;
    }
    
  }
   @media only screen and (min-width: 720px and max-width:1000px) {
    .carousel {
      min-height:30rem;
    }
}  
   